{% extends "auth.html" %}
{% load static %}

{% block body %}

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="{% static "assets/images/signin-image.jpg"%}" alt="sing up image"></figure>
                <div class="signin-reset">
                    {% comment %} <a href="/signup/" class="signup-image-link">Create an account</a> {% endcomment %}
                    <form action="/signup/" method="get">
                        <button type="submit" class="btn btn-info">Create an account</button>
                    </form>
                </div>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign In</h2>
                <form method="POST" action="/login/" class="register-form" id="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="username" id="username" placeholder="User Name"/>
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="pass" id="pass" placeholder="Password"/>
                    </div>
                    
                    <div class="form-group form-button">
                        <button type="submit" class="btn btn-info"> Log In</button>
                    </div>
                    {% comment %} <div class="form-group form-button">
                        <button type="submit" class="btn btn-info"> Forget PassWord</button>
                    </div> {% endcomment %}
                </form>
                {% comment %} <a href="/request-reset-email" class="signup-image-link"> Forget PassWord</a> {% endcomment %}
                <br/>
                <form action="/request-reset-email/" method="POST">
                    <button type="submit" class="btn btn-info">Forget PassWord</button>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock body %}